/* Color scheme */
:root {
    --columbia-blue: #b4c6ceff;
    --feldgrau: #5d7164ff;
    --battleship-gray: #7b897dff;
    --outer-space: #3f4f52ff;
    --powder-blue: #9bb9d4;
}
/* Media widths */
@media screen and (min-width: 801px) {
    main {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
}
@media screen and (max-width: 800px) {
    main {
      width: 100%;
      min-width: 400px;
    }
}

body {
    background-color: var(--battleship-gray);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    margin-bottom: 3pt;
}
.block {
    display: block;
}
.recipy {
    background-color: var(--columbia-blue);
}

.recipy-description {
    background-color: whitesmoke;
    padding: 5pt;
}

.swagger-link {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 3px;
    background-color: rgba(252, 255, 240, 0.397);
    color: black;
}
.description-image {
    width: 100%;
    height: 200px;
    background-image: url('/img/dummy.png');
    background-size: cover;
    background-position: center;
}
.description-title {font-size: xx-large; padding: 1pt; margin-top: 5pt; margin-bottom: 10pt;}
.description-summary {font-size: large; padding: 1pt; margin-bottom: 5pt;}
.description-details {font-size: medium; padding: 1pt;}
